In [2]:
#Importing all the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.linear_model import BayesianRidge
from sklearn.ensemble import RandomForestRegressor
from lightgbm import LGBMRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
import math

In [4]:
#Read the dataset file in dataframe
df = pd.read_csv('../input/flight-take-off-data-jfk-airport/M1_final.csv')
df

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,TAIL_NUM,DEST,DEP_DELAY,CRS_ELAPSED_TIME,DISTANCE,CRS_DEP_M,...,Dew Point,Humidity,Wind,Wind Speed,Wind Gust,Pressure,Condition,sch_dep,sch_arr,TAXI_OUT
0,11,1,5,B6,N828JB,CHS,-1,124,636,324,...,34,58,W,25,38,29.86,Fair / Windy,9,17,14
1,11,1,5,B6,N992JB,LAX,-7,371,2475,340,...,34,58,W,25,38,29.86,Fair / Windy,9,17,15
2,11,1,5,B6,N959JB,FLL,40,181,1069,301,...,34,58,W,25,38,29.86,Fair / Windy,9,17,22
3,11,1,5,B6,N999JQ,MCO,-2,168,944,345,...,34,58,W,25,38,29.86,Fair / Windy,9,17,12
4,11,1,5,DL,N880DN,ATL,-4,139,760,360,...,32,58,W,24,35,29.91,Fair / Windy,9,17,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28815,1,31,5,B6,N216JB,ORH,2,57,150,1370,...,38,96,N,6,0,30.18,Cloudy,20,32,19
28816,1,31,5,AA,N104NN,BOS,2,75,187,1390,...,38,96,N,6,0,30.18,Cloudy,19,23,22
28817,1,31,5,AS,N581AS,SEA,283,392,2422,1125,...,38,96,N,6,0,30.18,Cloudy,19,23,21
28818,1,31,5,B6,N957JB,SJU,5,224,1598,1417,...,38,96,N,6,0,30.18,Cloudy,19,23,13
28819,1,31,5,B6,N958JB,BQN,-1,225,1576,1439,...,38,96,N,6,0,30.18,Cloudy,19,23,15

In [5]:
df.info()
#dropping rown containg NaN values
df = df.dropna()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28820 entries, 0 to 28819
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MONTH              28820 non-null  int64
 1   DAY_OF_MONTH       28820 non-null  int64
 2   DAY_OF_WEEK        28820 non-null  int64
 3   OP_UNIQUE_CARRIER  28820 non-null  object
 4   TAIL_NUM           28820 non-null  object
 5   DEST               28820 non-null  object
 6   DEP_DELAY          28820 non-null  int64
 7   CRS_ELAPSED_TIME   28820 non-null  int64
 8   DISTANCE           28820 non-null  int64
 9   CRS_DEP_M          28820 non-null  int64
 10  DEP_TIME_M         28820 non-null  int64
 11  CRS_ARR_M          28820 non-null  int64
 12  Temperature        28820 non-null  int64
 13  Dew Point          28820 non-null  object
 14  Humidity           28820 non-null  int64
 15  Wind               28818 non-null  object
 16  Wind Speed         28820 non-null  int64
 17  Wind Gust          28820 non-null  int64
 18  Pressure           28820 non-null  float64
 19  Condition          28820 non-null  object
 20  sch_dep            28820 non-null  int64
 21  sch_arr            28820 non-null  int64
 22  TAXI_OUT           28820 non-null  int64
dtypes: float64(1), int64(16), object(6)
memory usage: 5.1+ MB

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28818 entries, 0 to 28819
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MONTH              28818 non-null  int64
 1   DAY_OF_MONTH       28818 non-null  int64
 2   DAY_OF_WEEK        28818 non-null  int64
 3   OP_UNIQUE_CARRIER  28818 non-null  object
 4   TAIL_NUM           28818 non-null  object
 5   DEST               28818 non-null  object
 6   DEP_DELAY          28818 non-null  int64
 7   CRS_ELAPSED_TIME   28818 non-null  int64
 8   DISTANCE           28818 non-null  int64
 9   CRS_DEP_M          28818 non-null  int64
 10  DEP_TIME_M         28818 non-null  int64
 11  CRS_ARR_M          28818 non-null  int64
 12  Temperature        28818 non-null  int64
 13  Dew Point          28818 non-null  object
 14  Humidity           28818 non-null  int64
 15  Wind               28818 non-null  object
 16  Wind Speed         28818 non-null  int64
 17  Wind Gust          28818 non-null  int64
 18  Pressure           28818 non-null  float64
 19  Condition          28818 non-null  object
 20  sch_dep            28818 non-null  int64
 21  sch_arr            28818 non-null  int64
 22  TAXI_OUT           28818 non-null  int64
dtypes: float64(1), int64(16), object(6)
memory usage: 5.3+ MB

In [7]:
df['Dew Point'].unique()

array(['34', '32', '33', '31', '30', '29', '67', '35', '36', '38', '39',
       '40', '41', '42', '28', '27', '46', '37', '44', '45', '52', '53',
       '54', '56', '57', '59', '58', '50', '43', '48', '49', '47', '21',
       '20', '22', '24', '23', '19', '18', '16', '13', '12', '14', '15',
       '17', '26', '25', '51', '55', '6\xa0', '9\xa0', '5\xa0', '8\xa0',
       '10', '4\xa0', '7\xa0', '3\xa0', '2\xa0', '11', '0\xa0', '-1',
       '1\xa0', '-2', '-3'], dtype=object)

In [8]:
#Replacing '\xa0' from 'Dew Point'
df = df.replace('\xa0','', regex=True)
df['Dew Point'].unique()

array(['34', '32', '33', '31', '30', '29', '67', '35', '36', '38', '39',
       '40', '41', '42', '28', '27', '46', '37', '44', '45', '52', '53',
       '54', '56', '57', '59', '58', '50', '43', '48', '49', '47', '21',
       '20', '22', '24', '23', '19', '18', '16', '13', '12', '14', '15',
       '17', '26', '25', '51', '55', '6', '9', '5', '8', '10', '4', '7',
       '3', '2', '11', '0', '-1', '1', '-2', '-3'], dtype=object)

In [9]:
#Converting data of the column 'Dew Point' to integer
s = pd.to_numeric(df['Dew Point'])
df['Dew Point'] = s
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28818 entries, 0 to 28819
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MONTH              28818 non-null  int64
 1   DAY_OF_MONTH       28818 non-null  int64
 2   DAY_OF_WEEK        28818 non-null  int64
 3   OP_UNIQUE_CARRIER  28818 non-null  object
 4   TAIL_NUM           28818 non-null  object
 5   DEST               28818 non-null  object
 6   DEP_DELAY          28818 non-null  int64
 7   CRS_ELAPSED_TIME   28818 non-null  int64
 8   DISTANCE           28818 non-null  int64
 9   CRS_DEP_M          28818 non-null  int64
 10  DEP_TIME_M         28818 non-null  int64
 11  CRS_ARR_M          28818 non-null  int64
 12  Temperature        28818 non-null  int64
 13  Dew Point          28818 non-null  int64
 14  Humidity           28818 non-null  int64
 15  Wind               28818 non-null  object
 16  Wind Speed         28818 non-null  int64
 17  Wind Gust          28818 non-null  int64
 18  Pressure           28818 non-null  float64
 19  Condition          28818 non-null  object
 20  sch_dep            28818 non-null  int64
 21  sch_arr            28818 non-null  int64
 22  TAXI_OUT           28818 non-null  int64
dtypes: float64(1), int64(17), object(5)
memory usage: 5.3+ MB

In [11]:
df['Dew Point'].unique()

array([34, 32, 33, 31, 30, 29, 67, 35, 36, 38, 39, 40, 41, 42, 28, 27, 46,
       37, 44, 45, 52, 53, 54, 56, 57, 59, 58, 50, 43, 48, 49, 47, 21, 20,
       22, 24, 23, 19, 18, 16, 13, 12, 14, 15, 17, 26, 25, 51, 55,  6,  9,
        5,  8, 10,  4,  7,  3,  2, 11,  0, -1,  1, -2, -3])

In [12]:
col = list(df.columns)
dic = {}
for i in range(0,len(col)):
    dic[col[i]] = i
dic
#Renaming name of the columns by integers
df = df.rename(columns = dic)

In [13]:
#Getting the feature columns
X = df.iloc[:, :22]
#Getting the label columns
y = df.iloc[:,22]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1)
X_train
#Concatenate features and labels along columns i.e axis =1
df_train = pd.concat([X_train, y_train], ignore_index=True, sort=False, axis =1)
df_test = pd.concat([X_test, y_test], ignore_index=True, sort=False, axis =1)

# Saving preprocessed data
# We can use the same splitted data for Label encoding and One Hot Encoding
df_train.to_csv('train.csv', index=False)
df_test.to_csv('test.csv', index=False)

In [15]:
col = list(df.columns)
df = pd.read_csv('train.csv')
df1 = pd.read_csv('test.csv')
#doing label encoding with the required columns
# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()
# Encode labels in column other than integer and float.
for i in range(0,len(col)):
    if df[col[i]].dtype == 'O':
        df[col[i]]= label_encoder.fit_transform(df[col[i]])
    if df1[col[i]].dtype == 'O':
        df1[col[i]]= label_encoder.fit_transform(df1[col[i]])
df

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,11,8,5,4,205,28,0,385,2475,500,...,24,64,8,21,29,30.14,17,52,21,25
1,1,22,3,8,1558,13,-6,127,483,899,...,21,55,13,8,0,30.42,3,26,37,18
2,11,13,3,4,603,20,-12,193,1069,958,...,4,29,4,13,0,30.36,18,29,36,16
3,12,18,3,4,1212,56,92,412,2586,685,...,24,67,15,25,33,29.82,1,25,25,16
4,1,8,3,3,1666,30,-3,187,944,480,...,30,82,15,14,0,29.92,16,40,37,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25931,11,29,5,3,505,4,111,70,187,677,...,23,49,8,18,0,30.14,3,22,34,14
25932,11,17,7,3,1987,27,-4,353,2248,1176,...,31,70,6,22,28,30.12,1,41,29,13
25933,1,27,1,3,1881,56,-12,411,2586,599,...,32,73,17,16,0,29.72,16,41,18,20
25934,11,29,5,3,1049,34,-7,392,2576,1139,...,25,62,4,13,0,30.15,16,36,30,18
25935,12,23,1,4,54,18,18,134,509,1045,...,34,68,13,13,0,30.00,18,31,36,18

In [16]:
X_train = df.iloc[:,:22]
y_train = df.iloc[:,22]
X_test = df1.iloc[:,:22]
y_test = df1.iloc[:,22]

In [17]:
MAE = []
RMSE = []
R2 = []
MSE = []

def Score_diplay(y_pred, y_test):
    print("MAE: {}".format(mean_absolute_error(y_pred, y_test)))
    MAE.append(mean_absolute_error(y_pred, y_test))
    print("RMSE: {}".format(math.sqrt(mean_squared_error(y_pred, y_test))))
    RMSE.append(math.sqrt(mean_squared_error(y_pred, y_test)))
    print("r2_score: {}".format(r2_score(y_pred, y_test)))
    R2.append(r2_score(y_pred, y_test))
    print('Coefficients: \n', regressor.coef_)
    # The mean squared error
    print("Mean squared error: %.2f" % np.mean((y_pred - y_test) ** 2))
    MSE.append(np.mean((y_pred - y_test) ** 2))
    print('\n')

In [19]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)
print('Linear Regression:\n')
Score_diplay(y_pred, y_test)

lasreg=Lasso(alpha=0.05, normalize=True)
lasreg.fit(X_train,y_train)
y_pred=lasreg.predict(X_test)

print('Lasso Regression:\n')
Score_diplay(y_pred, y_test)

ridgereg=Ridge(alpha=0.05, normalize=True)
ridgereg.fit(X_train,y_train)
y_pred=ridgereg.predict(X_test)

print('Ridge Regression:\n')
Score_diplay(y_pred, y_test)

rfreg = RandomForestRegressor()
rfreg.fit(X_train,y_train)
y_pred = rfreg.predict(X_test)

print('Random Forest Regression:\n')
Score_diplay(y_pred, y_test)

knnreg = KNeighborsRegressor(n_neighbors = 200)
knnreg.fit(X_train, y_train)
y_pred = knnreg.predict(X_test)

print('K-Neighbours Regression:\n')
Score_diplay(y_pred, y_test)

lgbm=LGBMRegressor()
lgbm.fit(X_train,y_train)
y_pred=lgbm.predict(X_test)


print('LGBM Regression:\n')
Score_diplay(y_pred, y_test)

bayreg=BayesianRidge()
bayreg.fit(X_train,y_train)
y_pred=bayreg.predict(X_test)

print('Gaussian Naive Bayes:\n')
Score_diplay(y_pred, y_test)

svreg = SVR()
svreg.fit(X_train, y_train)
y_pred = svreg.predict(X_test)

print('SVM:\n')
Score_diplay(y_pred, y_test)

LE_MAE = MAE
LE_RMSE = RMSE
LE_R2 = R2
LE_MSE = MSE

Linear Regression:

MAE: 5.1575246845037945
RMSE: 6.490357706143424
r2_score: -8.352099692088252
Coefficients:
 [ 4.99827208e-02 -3.64070066e-02  1.04883193e-01  3.30135345e-02
 -2.50389365e-04  2.36460386e-02  4.37944879e-03  3.56049032e-02
 -4.53994457e-03  4.25834544e-04  5.01864097e-04  2.61736422e-04
 -2.07976846e-01  1.13243113e-01 -9.78273932e-03 -6.34019160e-02
  2.16884208e-02  5.35390337e-02 -1.01965276e+00  3.67851589e-02
  1.14649851e-01  3.68481508e-02]
Mean squared error: 42.12
Variance score: 0.09


Lasso Regression:

MAE: 5.435346752225411
RMSE: 6.816505257802183
r2_score: -3.6813162832415765e+30
Coefficients:
 [ 4.99827208e-02 -3.64070066e-02  1.04883193e-01  3.30135345e-02
 -2.50389365e-04  2.36460386e-02  4.37944879e-03  3.56049032e-02
 -4.53994457e-03  4.25834544e-04  5.01864097e-04  2.61736422e-04
 -2.07976846e-01  1.13243113e-01 -9.78273932e-03 -6.34019160e-02
  2.16884208e-02  5.35390337e-02 -1.01965276e+00  3.67851589e-02
  1.14649851e-01  3.68481508e-02]
Mean squared error: 46.46
Variance score: 0.09


Ridge Regression:

MAE: 5.158453388279141
RMSE: 6.484990766127311
r2_score: -10.381633665433865
Coefficients:
 [ 4.99827208e-02 -3.64070066e-02  1.04883193e-01  3.30135345e-02
 -2.50389365e-04  2.36460386e-02  4.37944879e-03  3.56049032e-02
 -4.53994457e-03  4.25834544e-04  5.01864097e-04  2.61736422e-04
 -2.07976846e-01  1.13243113e-01 -9.78273932e-03 -6.34019160e-02
  2.16884208e-02  5.35390337e-02 -1.01965276e+00  3.67851589e-02
  1.14649851e-01  3.68481508e-02]
Mean squared error: 42.06
Variance score: 0.09


Random Forest Regression:

MAE: 4.426346287300485
RMSE: 5.692165784526027
r2_score: -1.4049600451237052
Coefficients:
 [ 4.99827208e-02 -3.64070066e-02  1.04883193e-01  3.30135345e-02
 -2.50389365e-04  2.36460386e-02  4.37944879e-03  3.56049032e-02
 -4.53994457e-03  4.25834544e-04  5.01864097e-04  2.61736422e-04
 -2.07976846e-01  1.13243113e-01 -9.78273932e-03 -6.34019160e-02
  2.16884208e-02  5.35390337e-02 -1.01965276e+00  3.67851589e-02
  1.14649851e-01  3.68481508e-02]
Mean squared error: 32.40
Variance score: 0.09


K-Neighbours Regression:

MAE: 5.416840735600277
RMSE: 6.750661912054807
r2_score: -16.399646139646308
Coefficients:
 [ 4.99827208e-02 -3.64070066e-02  1.04883193e-01  3.30135345e-02
 -2.50389365e-04  2.36460386e-02  4.37944879e-03  3.56049032e-02
 -4.53994457e-03  4.25834544e-04  5.01864097e-04  2.61736422e-04
 -2.07976846e-01  1.13243113e-01 -9.78273932e-03 -6.34019160e-02
  2.16884208e-02  5.35390337e-02 -1.01965276e+00  3.67851589e-02
  1.14649851e-01  3.68481508e-02]
Mean squared error: 45.57
Variance score: 0.09


LGBM Regression:

MAE: 4.543220680367326
RMSE: 5.786115257112975
r2_score: -2.1808614280609055
Coefficients:
 [ 4.99827208e-02 -3.64070066e-02  1.04883193e-01  3.30135345e-02
 -2.50389365e-04  2.36460386e-02  4.37944879e-03  3.56049032e-02
 -4.53994457e-03  4.25834544e-04  5.01864097e-04  2.61736422e-04
 -2.07976846e-01  1.13243113e-01 -9.78273932e-03 -6.34019160e-02
  2.16884208e-02  5.35390337e-02 -1.01965276e+00  3.67851589e-02
  1.14649851e-01  3.68481508e-02]
Mean squared error: 33.48
Variance score: 0.09


Gaussian Naive Bayes:

MAE: 5.162687492501387
RMSE: 6.4936161242442845
r2_score: -8.578025925749678
Coefficients:
 [ 4.99827208e-02 -3.64070066e-02  1.04883193e-01  3.30135345e-02
 -2.50389365e-04  2.36460386e-02  4.37944879e-03  3.56049032e-02
 -4.53994457e-03  4.25834544e-04  5.01864097e-04  2.61736422e-04
 -2.07976846e-01  1.13243113e-01 -9.78273932e-03 -6.34019160e-02
  2.16884208e-02  5.35390337e-02 -1.01965276e+00  3.67851589e-02
  1.14649851e-01  3.68481508e-02]
Mean squared error: 42.17
Variance score: 0.09


SVM:

MAE: 5.304892815278693
RMSE: 6.839020385124854
r2_score: -32.72919399770245
Coefficients:
 [ 4.99827208e-02 -3.64070066e-02  1.04883193e-01  3.30135345e-02
 -2.50389365e-04  2.36460386e-02  4.37944879e-03  3.56049032e-02
 -4.53994457e-03  4.25834544e-04  5.01864097e-04  2.61736422e-04
 -2.07976846e-01  1.13243113e-01 -9.78273932e-03 -6.34019160e-02
  2.16884208e-02  5.35390337e-02 -1.01965276e+00  3.67851589e-02
  1.14649851e-01  3.68481508e-02]
Mean squared error: 46.77
Variance score: 0.09

In [20]:
MAE = []
RMSE = []
R2 = []
MSE = []

In [21]:
df = pd.read_csv('train.csv')
df1 = pd.read_csv('test.csv')
length_train = len(df)
length_test = len(df1)
df_com = pd.concat([df, df1], ignore_index=True, sort=False)
df_com

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,11,8,5,DL,N190DN,LAX,0,385,2475,500,...,24,64,NW,21,29,30.14,Mostly Cloudy / Windy,52,21,25
1,1,22,3,YX,N875RW,CMH,-6,127,483,899,...,21,55,SW,8,0,30.42,Fair,26,37,18
2,11,13,3,DL,N361NW,FLL,-12,193,1069,958,...,4,29,N,13,0,30.36,Partly Cloudy,29,36,16
3,12,18,3,DL,N713TW,SFO,92,412,2586,685,...,24,67,W,25,33,29.82,Cloudy / Windy,25,25,16
4,1,8,3,B6,N905JB,MCO,-3,187,944,480,...,30,82,W,14,0,29.92,Mostly Cloudy,40,37,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28813,1,30,4,AA,N928AN,SAN,-2,394,2446,1200,...,22,69,NE,7,0,30.34,Mostly Cloudy,40,31,11
28814,1,17,5,DL,N351NW,FLL,-3,194,1069,485,...,3,42,NNW,31,38,30.59,Fair / Windy,48,20,25
28815,1,1,3,9E,N195PQ,DFW,2,271,1391,1100,...,22,54,W,16,0,29.86,Mostly Cloudy,40,34,41
28816,11,16,6,YX,N202JQ,BOS,-3,84,187,1019,...,7,32,NE,7,0,30.45,Fair,30,31,14
28817,11,28,4,B6,N934JB,LAX,-8,374,2475,1040,...,30,60,NNW,24,30,30.03,Fair / Windy,21,24,17

In [22]:
X_combined = pd.get_dummies(df_com.iloc[:,:22], columns=['3','4','5','15','19'])
X_train = X_combined.iloc[:length_train,:]
X_test = X_combined.iloc[length_train:,:]
y_train = df.iloc[:,22]
y_test = df1.iloc[:,22]

In [ ]:
regressor = LinearRegression()
regressor.fit(X_train,y_train)
y_pred = regressor.predict(X_test)

print('Linear Regression:\n')
Score_diplay(y_pred, y_test)

lasreg=Lasso(alpha=0.05, normalize=True)
lasreg.fit(X_train,y_train)
y_pred=lasreg.predict(X_test)

print('Lasso Regression:\n')
Score_diplay(y_pred, y_test)

ridgereg=Ridge(alpha=0.05, normalize=True)
ridgereg.fit(X_train,y_train)
y_pred=ridgereg.predict(X_test)

print('Ridge Regression:\n')
Score_diplay(y_pred, y_test)

rfreg = RandomForestRegressor()
rfreg.fit(X_train,y_train)
y_pred = rfreg.predict(X_test)

print('Random Forest Regression:\n')
Score_diplay(y_pred, y_test)

knnreg = KNeighborsRegressor(n_neighbors = 200)
knnreg.fit(X_train, y_train)
y_pred = knnreg.predict(X_test)

print('K-Neighbours Regression:\n')
Score_diplay(y_pred, y_test)

lgbm=LGBMRegressor()
lgbm.fit(X_train,y_train)
y_pred=lgbm.predict(X_test)

print('LGBM Regression:\n')
Score_diplay(y_pred, y_test)

bayreg=BayesianRidge()
bayreg.fit(X_train,y_train)
y_pred=bayreg.predict(X_test)

print('Gaussian Naive Bayes:\n')
Score_diplay(y_pred, y_test)

svreg = SVR()
svreg.fit(X_train, y_train)
y_pred = svreg.predict(X_test)

print('SVM:\n')
Score_diplay(y_pred, y_test)

OHE_MAE = MAE
OHE_RMSE = RMSE
OHE_R2 = R2
OHE_MSE = MSE

Linear Regression:

MAE: 135603.55226690051
RMSE: 3840684.792070507
r2_score: -0.0004356652386880988
Coefficients:
 [ 6.16020163e-02 -2.81954894e-02  1.00621817e-01 ... -1.62597800e+09
 -1.62597800e+09 -1.62597800e+09]
Mean squared error: 14750859672041.59
Variance score: -317612161895.04


Lasso Regression:

MAE: 5.435346752225411
RMSE: 6.816505257802183
r2_score: -3.6813162832415765e+30
Coefficients:
 [ 6.16020163e-02 -2.81954894e-02  1.00621817e-01 ... -1.62597800e+09
 -1.62597800e+09 -1.62597800e+09]
Mean squared error: 46.46
Variance score: -317612161895.04


Ridge Regression:

MAE: 5.162461096253632
RMSE: 6.567587118406746
r2_score: -3.283310076048677
Coefficients:
 [ 6.16020163e-02 -2.81954894e-02  1.00621817e-01 ... -1.62597800e+09
 -1.62597800e+09 -1.62597800e+09]
Mean squared error: 43.13
Variance score: -317612161895.04


Random Forest Regression:

MAE: 4.326127689104788
RMSE: 5.63742729772429
r2_score: -0.980104365423762
Coefficients:
 [ 6.16020163e-02 -2.81954894e-02  1.00621817e-01 ... -1.62597800e+09
 -1.62597800e+09 -1.62597800e+09]
Mean squared error: 31.78
Variance score: -317612161895.04


K-Neighbours Regression:

MAE: 5.236490284524636
RMSE: 6.612806382276705
r2_score: -14.493237919465894
Coefficients:
 [ 6.16020163e-02 -2.81954894e-02  1.00621817e-01 ... -1.62597800e+09
 -1.62597800e+09 -1.62597800e+09]
Mean squared error: 43.73
Variance score: -317612161895.04


LGBM Regression:

MAE: 4.499933723626151
RMSE: 5.76018072288056
r2_score: -2.1718314444367457
Coefficients:
 [ 6.16020163e-02 -2.81954894e-02  1.00621817e-01 ... -1.62597800e+09
 -1.62597800e+09 -1.62597800e+09]
Mean squared error: 33.18
Variance score: -317612161895.04


Gaussian Naive Bayes:

MAE: 5.00834310593618
RMSE: 6.345203530510685
r2_score: -4.639538474462122
Coefficients:
 [ 6.16020163e-02 -2.81954894e-02  1.00621817e-01 ... -1.62597800e+09
 -1.62597800e+09 -1.62597800e+09]
Mean squared error: 40.26
Variance score: -317612161895.04

In [ ]:
#Mean Absolute Error
array1 = np.array(LE_MAE)
array2 = np.array(OHE_MAE)

model_names = ["Linear","Lasso","Ridge","Random Forest","KNN","LGBM","Naive Bayes","SVM"]

plt.plot(model_names,array1)
plt.plot(model_names,array2)

plt.legend(["Label Encoding","One Hot Encoding"])

plt.xlabel("models")
plt.ylabel("MAE")
plt.show()

In [ ]:
#Root Mean Square Error
array1 = np.array(LE_RMSE)
array2 = np.array(OHE_RMSE)

model_names = ["Linear","Lasso","Ridge","Random Forest","KNN", "LGBM","Naive Bayes","SVM"]

plt.plot(model_names,array1)
plt.plot(model_names,array2)

plt.legend(["Label Encoding","One Hot Encoding"])

plt.xlabel("models")
plt.ylabel("RMSE")
plt.show()

In [ ]:
#Mean Square Error
array1 = np.array(LE_MSE)
array2 = np.array(OHE_MSE)

model_names = ["Linear","Lasso","Ridge","Random Forest","KNN", "LGBM","Naive Bayes","SVM"]

plt.plot(model_names,array1)
plt.plot(model_names,array2)

plt.legend(["Label Encoding","One Hot Encoding"])

plt.xlabel("models")
plt.ylabel("Mean Square Error")
plt.show()

In [ ]:
#R2 Score
array1 = np.array(LE_R2)
array2 = np.array(OHE_R2)

model_names = ["Linear","Lasso","Ridge","Random Forest","KNN", "LGBM","Naive Bayes","SVM"]

plt.plot(model_names,array1)
plt.plot(model_names,array2)

plt.legend(["Label Encoding","One Hot Encoding"])

plt.xlabel("models")
plt.ylabel("R2_score")
plt.show()